
.Logo{
    display: block;
    margin: auto;
}

.Video{
    display: block;
    margin: auto;
    max-width: 100%;
    
}

.Foto{
    display: block;
    margin: auto;
    border: solid;
    color: #65451f;
}
img{
    max-width: 100%;
    height: auto;
    
}

